@model IEnumerable<Contoso.Models.Course>
@{
    ViewBag.Title = "Courses";
}

<!--PAGE HEADER-->
<div class="page-header">
    <h1>Course index</h1>
    <h4>Search, sort, browse, view, edit, delete, or create courses.</h4>
</div>

<!--ALERTS-->
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Tutorial!</strong>
    Click <span class="glyphicon glyphicon-home" aria-hidden="true"></span> to go back,
    or <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> to register a new entry to the database.
    Visible entries can be filtered from the search bar, sorted (by clicking table headers) and navigated (with the page buttons in table footer).
    To view entry details; click the row links. Entries can also be <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> edited and <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> deleted.
</div>

<!--DATATABLE PANEL-->
<div class="panel panel-default">
    <!--PANEL HEADER-->
    <div class="panel-heading">
        <h3 class="panel-title">Search: |_________|</h3>
    </div>
    <!--TABLE-->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <!--TABLE HEADER-->
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam })
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Credits", "Index", new { sortOrder = ViewBag.CreditsSortParam })
                    </th>
                    <th></th>
                </tr>
            </thead>
            <!--TABLE BODY-->
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a title="View course details" href="@Url.Action("Details", "Course", new { id=item.CourseID })">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Credits)
                        </td>
                        <td class="pull-right">
                            <a title="Edit this course" href="@Url.Action("Edit", "Course", new { id=item.CourseID })" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a title="Delete this course" href="@Url.Action("Delete", "Course", new { id=item.CourseID })" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--PANEL FOOTER-->
        <div class="panel-footer">
            Page 1 | 2 | 3
        </div>
    </div>
</div>

<!--BOTTOM BUTTON LINKS -->
<div class="row">
    <div class="col col-xs-10">
        <a title="Go back to welcome page" href="@Url.Action("Index", "Home")" class="btn btn-link pull-left" role="button">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Home
        </a>
    </div>
    <div class="col col-xs-2">
        <a title="Register new course" href="@Url.Action("Create", "Course")" class="btn btn-success btn-sm pull-right" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add
        </a>
    </div>
</div>
