@model Contoso.Models.Enrollment

@{
    ViewBag.Title = "Register enrollment";
}

<div class="page-header">
    <h1>Register enrollment</h1>
    <h4>Enter required data and click the save button.</h4>
    <a title="Back to index" href="@Url.Action("Index", "Enrollment")">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Back to index
    </a>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CourseID, "CourseID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Grade, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button title="Register new enrollment" type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
