@model Contoso.Models.Enrollment

@{
    ViewBag.Title = "Create";
}

<h2>Register enrollment</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Please fill out all the required fields and click the register button.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CourseID, "CourseID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Grade, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button title="Register new enrollment" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Register
                </button>
            </div>
        </div>
    </div>
}

<div>
    <a title="Back to index" href="@Url.Action("Index", "Enrollment")" class="btn btn-link">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Back to index
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
