@model Contoso.Models.Enrollment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete enrollment</h2>
<div>
    <h4>This action can not be undone.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a title="Back to index" href="@Url.Action("Index", "Course")" class="btn btn-link">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Back to index
            </a>
            <button title="Delete this course" type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete
            </button>
        </div>
    }
</div>
