@model Contoso.Models.Enrollment

@{
    ViewBag.Title = "Delete";
}

<div class="page-header">
    <h1>Delete enrollment</h1>
    <h4>This action can not be undone.</h4>
    <p class="error">@ViewBag.ErrorMessage</p>
    <a title="Back to index" href="@Url.Action("Index", "Enrollment")">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Back to index
    </a>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <button title="Delete this course" type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete
            </button>
        </div>
    }

</div>
